.cats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem; }
  @media screen and (max-width: 1199px) {
    .cats {
      max-width: 991px; } }
  .cats-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    overflow: hidden; }
  .cats__title {
    font-size: 36px;
    font-family: Exo, sans-serif;
    color: white;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .cats__title {
        font-size: 25px; } }
    @media screen and (max-width: 359px) {
      .cats__title {
        font-size: 20px; } }

.cats-list {
  background-color: transparent;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }
  @media screen and (max-width: 1199px) {
    .cats-list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .cats-list .item-on-hover {
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .cats-list .item-on-hover:hover .cats-item-filled {
      background: #2ea8e6;
      background: -webkit-linear-gradient(315deg, transparent 31px, #2ea8e6 0);
      background: -o-linear-gradient(315deg, transparent 31px, #2ea8e6 0);
      background: linear-gradient(135deg, transparent 31px, #2ea8e6 0); }
    .cats-list .item-on-hover:hover .size {
      background: #2ea8e6; }
    .cats-list .item-on-hover:hover .cats-list__message_link {
      color: #2ea8e6; }
      .cats-list .item-on-hover:hover .cats-list__message_link:after {
        background-position: 0 -3px; }
    .cats-list .item-on-hover.on-active:hover .cats-item-filled {
      background: #e62e7a;
      background: -webkit-linear-gradient(315deg, transparent 31px, #e62e7a 0);
      background: -o-linear-gradient(315deg, transparent 31px, #e62e7a 0);
      background: linear-gradient(135deg, transparent 31px, #e62e7a 0); }
      .cats-list .item-on-hover.on-active:hover .cats-item-filled .size {
        background: #e62e7a; }
  .cats-list__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 324px;
            flex: 0 0 324px;
    max-width: 324px;
    position: relative; }
    .cats-list__item:nth-child(2) {
      margin-left: 90px;
      margin-right: 90px; }
      @media screen and (max-width: 1199px) {
        .cats-list__item:nth-child(2) {
          margin: 1rem 2rem; } }
    .cats-list__item.disabled .cats-item {
      opacity: 0.6; }
    .cats-list__item.disabled .cats-item-filled {
      background: lightgrey;
      background: -webkit-linear-gradient(315deg, transparent 31px, lightgrey 0);
      background: -o-linear-gradient(315deg, transparent 31px, lightgrey 0);
      background: linear-gradient(135deg, transparent 31px, lightgrey 0); }
    .cats-list__item.disabled .cats-item__excerpt {
      color: lightgrey; }
    .cats-list__item.disabled .cats-list__message {
      color: #ffff66; }
    .cats-list__item.disabled .cats-item__title_big, .cats-list__item.disabled .cats-item__title_normal {
      color: lightgrey; }
    .cats-list__item.disabled .cats-item__description li {
      color: lightgrey; }
    .cats-list__item.disabled .size {
      background-color: grey; }
    @media screen and (max-width: 1199px) {
      .cats-list__item {
        text-align: left;
        margin: 1rem 2rem; } }
    @media screen and (max-width: 767px) {
      .cats-list__item {
        max-width: 300px;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 300px;
                flex: 0 0 300px; } }
    @media screen and (max-width: 359px) {
      .cats-list__item {
        max-width: 280px;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 280px;
                flex: 0 0 280px; } }
  .cats-list__message {
    font-size: 13px;
    font-family: Trebuchet MS, sans-serif;
    color: white;
    margin-top: 1rem;
    text-align: center; }
    .cats-list__message_link {
      color: #1698d9;
      font-size: 13px;
      font-family: Trebuchet MS, sans-serif;
      position: relative;
      -webkit-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .cats-list__message_link:hover {
        text-decoration: none; }
      .cats-list__message_link:focus {
        color: #1698d9;
        text-decoration: none; }
      .cats-list__message_link:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: url("../img/spritesheet.png") no-repeat;
        background-position: 0 0; }

.cats-item {
  cursor: pointer;
  padding-top: 20px;
  height: 100%; }
  .cats-item-filled {
    background: #1698d9;
    background: -webkit-linear-gradient(315deg, transparent 31px, #1698d9 0);
    background: -o-linear-gradient(315deg, transparent 31px, #1698d9 0);
    background: linear-gradient(135deg, transparent 31px, #1698d9 0);
    border-radius: 20px;
    padding: 4px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .cats-item-filled.active {
      background: #d91667;
      background: -webkit-linear-gradient(315deg, transparent 31px, #d91667 0);
      background: -o-linear-gradient(315deg, transparent 31px, #d91667 0);
      background: linear-gradient(135deg, transparent 31px, #d91667 0); }
      .cats-item-filled.active .size {
        background: #d91667; }
  .cats-item-wrapper {
    border-radius: 18px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: relative;
    background: #f2f2f2;
    background: -webkit-linear-gradient(315deg, transparent 29px, #f2f2f2 0);
    background: -o-linear-gradient(315deg, transparent 29px, #f2f2f2 0);
    background: linear-gradient(135deg, transparent 29px, #f2f2f2 0);
    overflow: hidden; }
  .cats-item__excerpt, .cats-item__title, .cats-item__description {
    padding-left: 45px;
    padding-right: 45px; }
  .cats-item__excerpt {
    font-size: 16px;
    font-family: Trebuchet MS, sans-serif;
    color: #666666; }
  .cats-item__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .cats-item__title_big {
      font-size: 48px;
      font-family: Trebuchet MS, sans-serif;
      color: black;
      font-weight: bold;
      line-height: 1.2; }
    .cats-item__title_normal {
      font-size: 24px;
      font-family: Trebuchet MS, sans-serif;
      color: black;
      font-weight: bold;
      line-height: 1.2; }
  .cats-item__description {
    height: 96px;
    overflow: hidden;
    padding: 1rem 50px 2rem; }
    .cats-item__description li {
      font-size: 14px;
      font-family: Trebuchet MS, sans-serif;
      color: #666666;
      line-height: 1.143; }

.cats-image {
  overflow: hidden;
  position: relative;
  max-height: 270px; }
  .cats-image .cat {
    -webkit-transform: translateX(-1rem);
        -ms-transform: translateX(-1rem);
            transform: translateX(-1rem); }

.size {
  background-color: #1698d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  line-height: 1;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .size_digit, .size_weight {
    font-family: Trebuchet MS, sans-serif;
    color: white;
    text-align: center; }
  .size_digit {
    font-size: 42px; }
  .size_weight {
    font-size: 21px; }

@media screen and (max-width: 1199px) {
  .slick-slide > div {
    text-align: center; } }
